[user]
	name = Raphaël Duhen
	email = raphael.duhen.nexus@gmail.com
[core]
	autocrlf = input
[credential]
	helper = cache
[alias]
	lol = log --graph --oneline --decorate=full --all --author-date-order
[merge]
	conflictStyle = diff3
[init]
	defaultBranch = master
